<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Primary genre:</strong>
  <%= @author.primary_genre %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @author.birthday %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
